@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

*{
    background-color: black;
    color: white;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

header{
    background-color: black;
    padding: 10px;
}
.menu{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.menu nav a{
    color: white;
    text-decoration: none;
    padding-right: 60px;
    font-size: 20px;
    position: relative;
    
}

.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg rgb(245, 2, 2) white );
    position: absolute;
    top: 30px;
    left: 0;
    transition: width 0.5s;
}
.menu nav a:hover::after{
    width: 30px;
}
.sobremim{
    background-color: white;
    width: 800px;

}
.sobre01{
  text-align: center;
  padding: 50px;
}
.sobre02{
    text-align: center;
}

.skills {
    display: flex;
    flex-wrap: wrap; /* Isso permite que os elementos quebrem para a próxima linha se não houver espaço suficiente */
    
}

.skills > div {
    flex: 1; /* Isso fará com que cada div filha ocupe a mesma quantidade de espaço disponível */
    margin: 10px; /* Ajuste as margens conforme necessário */
    text-align: center;
}
.nome > .skills{
    text-align: center;
    padding: 50px;
}
   
.html{
    width: 100px;
    height: 100px;
}
.css{
    width: 100px;
    height: 100px;
}
.js{
    width: 100px;
    height: 100px;
}
.react{
    width: 100px;
    height: 100px;
}
.node{
    width: 100px;
    height: 100px;
}
.github{
    width: 100px;
    height: 100px;
}